<!-- s.푸터 -->
<div class="trunk footer">
    <div class="stem">
        <div class="bine-12">
            <ul class="ft-menu">
                <li><a href="#">사람</a></li>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">제품</a></li>
                <li><a href="#">채용</a></li>
                <!-- <li><a href="#">문의</a></li> -->
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="stem">
        <div class="bine-8 bine-xs-12 bine-sm-12 bine-md-12">
            <a href="#" class="ft-logo"><img src="/assets/img/wt-logo@2x.png"  /></a>
            <ul class="ft-info">
                <li>경기도 성남시 분당구 운중로 135 더원스퀘어 603호</li>
                <li>P: 0505-325-8080</li>
                <li>E: support@realgrid.com</li>
            </ul>
        </div>
        <div class="bine-4 bine-xs-12 bine-sm-12 bine-md-12"><span class="ft-copy">Copyright © 2000-2019 WOORITECH</span></div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- e.푸터 -->

<script>
    AOS.init();
</script>