<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />

<title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<link rel="alternate" hreflang="ko" href="https://wooritech.com" />

<link rel="shortcut icon" href="/assets/favicon/wooritech.ico" type="image/x-icon">
<link rel="icon" href="/assets/favicon/wooritech.ico" type="image/x-icon">

<script src="/assets/js/jquery-3.3.1.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.timeago.js" type="text/javascript"></script>
<script src="/assets/js/typed.js" type="text/javascript"></script>

<link rel="stylesheet" href="/assets/plugins/justifiedGallery/justifiedGallery.css" />
<script src="/assets/plugins/justifiedGallery/jquery.justifiedGallery.js"></script>

<link rel="stylesheet" href="/assets/plugins/magnificPopup/magnific-popup.css">
<script src="/assets/plugins/magnificPopup/jquery.magnific-popup.js"></script>

<link rel="stylesheet" href="/assets/plugins/highlight/styles/github.css">
<script src="/assets/plugins/highlight/highlight.min.js"></script>

<link rel="stylesheet" href="/assets/plugins/entypo/entypo.css">
<link href="/assets/plugins/aos/aos.css" rel="stylesheet">

<script src="/assets/js/wooritech.js" type="text/javascript"></script>
<script src="/assets/plugins/aos/aos.js"></script>