@font-face {
    font-family:"S-Core Dream 3 Light";
    src:url("SCDream3.woff2") format("woff2"),url("SCDream3.woff") format("woff"),url("SCDream3.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"S-Core Dream 4 Regular";
    src:url("SCDream4.woff2") format("woff2"),url("SCDream4.woff") format("woff"),url("SCDream4.otf") format("opentype");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family:"S-Core Dream 6 Bold";
    src:url("SCDream6.woff2") format("woff2"),url("SCDream6.woff") format("woff"),url("SCDream6.otf") format("opentype");
    font-style:normal;font-weight:400;
}