
@font-face {
    font-family:"S-Core Dream 1 Thin";
    src:url("SCDream1.woff2") format("woff2"),url("SCDream1.woff") format("woff"),url("SCDream1.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        