
@font-face {
    font-family:"S-Core Dream 3 Light";
    src:url("SCDream3.woff2") format("woff2"),url("SCDream3.woff") format("woff"),url("SCDream3.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        