
@font-face {
    font-family:"S-Core Dream 8 Heavy";
    src:url("SCDream8.woff2") format("woff2"),url("SCDream8.woff") format("woff"),url("SCDream8.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        