
@font-face {
    font-family:"S-Core Dream 2 ExtraLight";
    src:url("SCDream2.woff2") format("woff2"),url("SCDream2.woff") format("woff"),url("SCDream2.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        