
@font-face {
    font-family:"S-Core Dream 7 ExtraBold";
    src:url("SCDream7.woff2") format("woff2"),url("SCDream7.woff") format("woff"),url("SCDream7.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        