
@font-face {
    font-family:"S-Core Dream 4 Regular";
    src:url("SCDream4.woff2") format("woff2"),url("SCDream4.woff") format("woff"),url("SCDream4.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        