
@font-face {
    font-family:"S-Core Dream 9 Black";
    src:url("SCDream9.woff2") format("woff2"),url("SCDream9.woff") format("woff"),url("SCDream9.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        