
@font-face {
    font-family:"S-Core Dream 6 Bold";
    src:url("SCDream6.woff2") format("woff2"),url("SCDream6.woff") format("woff"),url("SCDream6.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        